/* ICONS */
#dashboard-icon {
    -fx-shape: "M0 4.17857C0 3.07035 0.440241 2.00751 1.22388 1.22388C2.00751 0.440241 3.07035 0 4.17857 0H12.5357C13.6439 0 14.7068 0.440241 15.4904 1.22388C16.274 2.00751 16.7143 3.07035 16.7143 4.17857V12.5357C16.7143 13.6439 16.274 14.7068 15.4904 15.4904C14.7068 16.274 13.6439 16.7143 12.5357 16.7143H4.17857C3.07035 16.7143 2.00751 16.274 1.22388 15.4904C0.440241 14.7068 0 13.6439 0 12.5357V4.17857ZM22.2857 4.17857C22.2857 3.07035 22.726 2.00751 23.5096 1.22388C24.2932 0.440241 25.3561 0 26.4643 0H34.8214C35.9297 0 36.9925 0.440241 37.7761 1.22388C38.5598 2.00751 39 3.07035 39 4.17857V12.5357C39 13.6439 38.5598 14.7068 37.7761 15.4904C36.9925 16.274 35.9297 16.7143 34.8214 16.7143H26.4643C25.3561 16.7143 24.2932 16.274 23.5096 15.4904C22.726 14.7068 22.2857 13.6439 22.2857 12.5357V4.17857ZM0 26.4643C0 25.3561 0.440241 24.2932 1.22388 23.5096C2.00751 22.726 3.07035 22.2857 4.17857 22.2857H12.5357C13.6439 22.2857 14.7068 22.726 15.4904 23.5096C16.274 24.2932 16.7143 25.3561 16.7143 26.4643V34.8214C16.7143 35.9297 16.274 36.9925 15.4904 37.7761C14.7068 38.5598 13.6439 39 12.5357 39H4.17857C3.07035 39 2.00751 38.5598 1.22388 37.7761C0.440241 36.9925 0 35.9297 0 34.8214V26.4643ZM22.2857 26.4643C22.2857 25.3561 22.726 24.2932 23.5096 23.5096C24.2932 22.726 25.3561 22.2857 26.4643 22.2857H34.8214C35.9297 22.2857 36.9925 22.726 37.7761 23.5096C38.5598 24.2932 39 25.3561 39 26.4643V34.8214C39 35.9297 38.5598 36.9925 37.7761 37.7761C36.9925 38.5598 35.9297 39 34.8214 39H26.4643C25.3561 39 24.2932 38.5598 23.5096 37.7761C22.726 36.9925 22.2857 35.9297 22.2857 34.8214V26.4643Z";
}

#projects-icon {
    -fx-shape: "M34.4172 24.7724L38.5975 26.8637C39.1337 27.1319 39.1337 27.8972 38.5975 28.1654L20.1505 37.3913C19.9484 37.4921 19.7256 37.5446 19.4997 37.5446C19.2738 37.5446 19.051 37.4921 18.8489 37.3913L0.401858 28.1654C0.281352 28.1046 0.180076 28.0116 0.109315 27.8967C0.0385542 27.7818 0.00108641 27.6495 0.00108641 27.5145C0.00108641 27.3796 0.0385542 27.2473 0.109315 27.1324C0.180076 27.0175 0.281352 26.9245 0.401858 26.8637L4.58461 24.7724L17.5448 31.2537C18.7757 31.8679 20.226 31.8679 21.4545 31.2537L34.4147 24.7699L34.4172 24.7724ZM18.8489 0.153602C19.051 0.0527445 19.2738 0.000244141 19.4997 0.000244141C19.7256 0.000244141 19.9484 0.0527445 20.1505 0.153602L38.5975 9.3771C38.7179 9.43823 38.819 9.53151 38.8897 9.6466C38.9603 9.76169 38.9977 9.89409 38.9977 10.0291C38.9977 10.1642 38.9603 10.2966 38.8897 10.4117C38.819 10.5268 38.7179 10.62 38.5975 10.6812L20.1505 19.9022C19.9484 20.0031 19.7256 20.0556 19.4997 20.0556C19.2738 20.0556 19.051 20.0031 18.8489 19.9022L0.401858 10.6812C0.280713 10.6207 0.178818 10.5276 0.1076 10.4124C0.0363817 10.2973 -0.00134277 10.1645 -0.00134277 10.0291C-0.00134277 9.89372 0.0363817 9.76099 0.1076 9.64582C0.178818 9.53065 0.280713 9.4376 0.401858 9.3771L18.8489 0.153602Z M34.4175 16.0291L38.5979 18.1204C39.1341 18.3886 39.1341 19.1539 38.5979 19.4221L20.1509 28.6456C19.9487 28.7464 19.7259 28.7989 19.5 28.7989C19.2742 28.7989 19.0514 28.7464 18.8492 28.6456L0.402237 19.4221C0.28173 19.3613 0.180455 19.2683 0.109694 19.1534C0.0389327 19.0385 0.00146484 18.9062 0.00146484 18.7712C0.00146484 18.6363 0.0389327 18.504 0.109694 18.3891C0.180455 18.2742 0.28173 18.1812 0.402237 18.1204L4.58499 16.0291L17.5452 22.5104C18.7761 23.1246 20.2264 23.1246 21.4549 22.5104L34.4175 16.0291Z";
}

#logout-icon {
    -fx-shape: "M24.375 30.4688C24.375 30.792 24.2466 31.102 24.018 31.3305C23.7895 31.5591 23.4795 31.6875 23.1562 31.6875H3.65625C3.33302 31.6875 3.02302 31.5591 2.79446 31.3305C2.5659 31.102 2.4375 30.792 2.4375 30.4688V8.53125C2.4375 8.20802 2.5659 7.89802 2.79446 7.66946C3.02302 7.4409 3.33302 7.3125 3.65625 7.3125H23.1562C23.4795 7.3125 23.7895 7.4409 24.018 7.66946C24.2466 7.89802 24.375 8.20802 24.375 8.53125V13.4062C24.375 13.7295 24.5034 14.0395 24.732 14.268C24.9605 14.4966 25.2705 14.625 25.5938 14.625C25.917 14.625 26.227 14.4966 26.4555 14.268C26.6841 14.0395 26.8125 13.7295 26.8125 13.4062V8.53125C26.8125 7.56155 26.4273 6.63157 25.7416 5.94589C25.0559 5.26021 24.1259 4.875 23.1562 4.875H3.65625C2.68655 4.875 1.75657 5.26021 1.07089 5.94589C0.385211 6.63157 0 7.56155 0 8.53125L0 30.4688C0 31.4384 0.385211 32.3684 1.07089 33.0541C1.75657 33.7398 2.68655 34.125 3.65625 34.125H23.1562C24.1259 34.125 25.0559 33.7398 25.7416 33.0541C26.4273 32.3684 26.8125 31.4384 26.8125 30.4688V25.5938C26.8125 25.2705 26.6841 24.9605 26.4555 24.732C26.227 24.5034 25.917 24.375 25.5938 24.375C25.2705 24.375 24.9605 24.5034 24.732 24.732C24.5034 24.9605 24.375 25.2705 24.375 25.5938V30.4688Z M38.6441 20.363C38.7576 20.2497 38.8477 20.1152 38.9091 19.9672C38.9706 19.8191 39.0022 19.6604 39.0022 19.5001C39.0022 19.3398 38.9706 19.181 38.9091 19.033C38.8477 18.8849 38.7576 18.7504 38.6441 18.6372L31.3316 11.3247C31.1028 11.0959 30.7924 10.9673 30.4688 10.9673C30.1451 10.9673 29.8347 11.0959 29.6059 11.3247C29.377 11.5535 29.2485 11.8639 29.2485 12.1876C29.2485 12.5112 29.377 12.8216 29.6059 13.0505L34.8392 18.2813H13.4062C13.083 18.2813 12.773 18.4097 12.5445 18.6383C12.3159 18.8668 12.1875 19.1768 12.1875 19.5001C12.1875 19.8233 12.3159 20.1333 12.5445 20.3619C12.773 20.5904 13.083 20.7188 13.4062 20.7188H34.8392L29.6059 25.9497C29.377 26.1785 29.2485 26.4889 29.2485 26.8126C29.2485 27.1362 29.377 27.4466 29.6059 27.6755C29.8347 27.9043 30.1451 28.0329 30.4688 28.0329C30.7924 28.0329 31.1028 27.9043 31.3316 27.6755L38.6441 20.363Z";
}

#new-project-icon {
    -fx-shape: "M11.28 1.02299L10.72 1.08299C8.83203 1.28299 6.99103 2.02299 5.36003 3.23499C4.75103 3.68799 3.68403 4.75499 3.22603 5.36699C0.728033 8.71399 0.301033 13.032 2.09703 16.78C2.64303 17.918 3.27603 18.801 4.23803 19.762C5.19903 20.724 6.08203 21.357 7.22003 21.903C10.967 23.699 15.288 23.27 18.637 20.77C19.246 20.316 20.316 19.246 20.77 18.637C23.744 14.652 23.744 9.34799 20.77 5.36299C20.316 4.75499 19.247 3.68599 18.64 3.23499C17.045 2.04899 15.365 1.35999 13.423 1.09599C13 1.03799 11.574 0.989989 11.28 1.02299ZM13.32 3.10099C15.883 3.48799 18.124 4.93099 19.56 7.11999C19.863 7.58299 20.303 8.47899 20.492 9.01999C20.838 10.013 20.977 10.865 20.977 12C20.977 13.493 20.72 14.621 20.08 15.94C19.375 17.394 18.311 18.607 16.927 19.532C16.138 20.06 14.876 20.588 13.908 20.797C12.5983 21.0767 11.2428 21.0622 9.9393 20.7548C8.6358 20.4473 7.41675 19.8545 6.37003 19.019C4.85703 17.807 3.72203 16.029 3.26703 14.16C3.08103 13.397 3.02303 12.888 3.02303 12C3.02303 10.507 3.28003 9.37899 3.92003 8.05999C4.44342 6.98382 5.17656 6.02307 6.0764 5.23416C6.97624 4.44526 8.02464 3.8441 9.16003 3.46599C9.86503 3.23299 10.432 3.11799 11.34 3.02399C11.662 2.99099 12.911 3.03899 13.32 3.10099ZM11.695 7.05699C11.4568 7.13651 11.2554 7.29955 11.128 7.51599L11.02 7.69999L11.008 9.34999L10.997 11H9.44503C7.75803 11 7.65803 11.011 7.38203 11.221C7.30203 11.282 7.18703 11.415 7.12803 11.516C7.03703 11.672 7.02003 11.746 7.02003 12C7.02003 12.256 7.03603 12.328 7.13103 12.489C7.19203 12.592 7.30403 12.725 7.38103 12.783C7.65403 12.991 7.70003 12.996 9.40803 12.998L10.997 13L11.008 14.653L11.02 16.306L11.141 16.503C11.209 16.613 11.346 16.756 11.452 16.828C11.923 17.144 12.554 16.999 12.859 16.503L12.98 16.306L12.992 14.653L13.003 13L14.592 12.998C16.3 12.996 16.346 12.991 16.619 12.783C16.696 12.725 16.808 12.592 16.869 12.489C16.964 12.328 16.98 12.256 16.98 12C16.98 11.746 16.963 11.672 16.872 11.516C16.8039 11.4046 16.7181 11.305 16.618 11.221C16.342 11.011 16.242 11 14.555 11H13.003L12.992 9.34999L12.98 7.69999L12.872 7.51599C12.7579 7.3164 12.5789 7.16196 12.3647 7.07843C12.1505 6.9949 11.9141 6.98733 11.695 7.05699Z";
}



.sidebar {
    -fx-background-color: #D2D2D2;
}

.profile-btn {
    -fx-background-color: #ECECEC;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 8, 0, 0, 0);
}

.selected-sidebar-item {
    -fx-background-color: #ABABAB;
    -fx-background-radius: 7;
    -fx-text-fill: #000;
}

.default-sidebar-item {
    -fx-background-color: transparent;
    -fx-background-radius: 7;
    -fx-text-fill: #818181;
}

.special-sidebar-item {
    -fx-border-color: #818181;
    -fx-border-radius: 7;
}

.special-sidebar-item:hover {
    -fx-background-color: #bbbbbb;
}

.icon {
    -fx-background-color: #818181;
}

.selected-sidebar-item .icon {
    -fx-background-color: #000;
}

.default-sidebar-item .icon {
    -fx-background-color: #818181;
}

.selected-sidebar-item .icon#recent-icon {
    -fx-border-color: transparent;
    -fx-background-color: #000;
    -fx-shape: "M11.5 23C17.8513 23 23 17.8513 23 11.5C23 5.14873 17.8513 0 11.5 0C5.14873 0 0 5.14873 0 11.5C0 17.8513 5.14873 23 11.5 23Z";
}

.default-sidebar-item .icon#recent-icon {
    -fx-background-color: transparent;
    -fx-border-color: #818181;
    -fx-shape: "M22 11.5C22 17.299 17.299 22 11.5 22C5.70101 22 1 17.299 1 11.5C1 5.70101 5.70101 1 11.5 1C17.299 1 22 5.70101 22 11.5Z";
}

.legend {
    -fx-text-fill: #818181;
}

.sidebar-sep {
    -fx-stroke: #818181;
}