.center-area {
    -fx-background-color: #ebeef4;
}

.sidebar {
    -fx-background-color: #FFFFFF;
}

.account-button > .arrow-button {
    -fx-padding: 0;
}

.account-button > .arrow-button > .arrow {
    -fx-padding: 0;
}

.center-container {
    -fx-background-radius: 15 15 0 0;
    -fx-background-color: #FFFFFF;
}