#edit-icon {
    -fx-shape: "M17.52 0.0230399L17.191 0.0820399C16.821 0.16405 16.4692 0.313181 16.153 0.52204C15.803 0.75504 6.22902 10.316 6.12102 10.54C6.02502 10.74 5.00002 14.83 5.00002 15.014C5.00002 15.339 5.20802 15.691 5.49902 15.862C5.84902 16.067 5.88102 16.062 8.20002 15.482C9.35502 15.193 10.372 14.921 10.46 14.879C10.684 14.771 20.287 5.15204 20.502 4.82004C20.7686 4.40079 20.9325 3.92451 20.9803 3.42997C21.0281 2.93542 20.9584 2.43658 20.777 1.97404C20.5949 1.53072 20.3154 1.13406 19.9591 0.813462C19.6029 0.492867 19.179 0.256555 18.719 0.12204C18.431 0.0420399 17.737 -0.0149601 17.52 0.0230399ZM2.49902 1.04304C1.38302 1.23004 0.46102 2.04804 0.11402 3.16004L0.0200195 3.46004V18.54L0.11402 18.84C0.261864 19.3223 0.525678 19.761 0.882365 20.1177C1.23905 20.4744 1.67774 20.7382 2.16002 20.886L2.46002 20.98H17.54L17.84 20.886C18.3223 20.7382 18.761 20.4744 19.1177 20.1177C19.4744 19.761 19.7382 19.3223 19.886 18.84L19.98 18.54V10.7L19.871 10.514C19.7819 10.3622 19.6546 10.2363 19.5018 10.1489C19.3491 10.0614 19.1761 10.0154 19 10.0154C18.824 10.0154 18.651 10.0614 18.4982 10.1489C18.3454 10.2363 18.2181 10.3622 18.129 10.514L18.02 10.7L18 14.48C17.985 17.383 17.968 18.286 17.93 18.373C17.8343 18.58 17.679 18.7538 17.484 18.872L17.3 18.98H2.70002L2.51602 18.872C2.4063 18.8052 2.30805 18.7211 2.22502 18.623C1.98602 18.309 2.00002 18.796 2.00002 11.002C2.00002 2.96804 1.97402 3.63304 2.30602 3.30004C2.62002 2.98604 2.41902 3.00004 6.53702 2.99804C9.47602 2.99704 10.209 2.98604 10.33 2.94304C10.551 2.86404 10.744 2.70204 10.869 2.48904C10.964 2.32804 10.98 2.25604 10.98 2.00004C10.98 1.74604 10.963 1.67204 10.872 1.51604C10.8038 1.40463 10.7181 1.30501 10.618 1.22104C10.32 0.99404 10.426 1.00004 6.40402 1.00504C4.36702 1.00704 2.60902 1.02504 2.49902 1.04304ZM18.388 2.14304C18.77 2.32804 18.976 2.67804 18.975 3.14004C18.975 3.36404 18.954 3.46004 18.87 3.62004C18.791 3.77104 17.632 4.95104 14.113 8.46504L9.46002 13.11L8.44902 13.36C7.89202 13.498 7.42602 13.6 7.41302 13.587C7.40002 13.574 7.50202 13.108 7.64002 12.551L7.89002 11.54L12.535 6.88704C15.396 4.02204 17.241 2.20204 17.34 2.15104C17.428 2.10504 17.554 2.05304 17.62 2.03504C17.813 1.98504 18.164 2.03404 18.388 2.14304Z";
    -fx-background-color: #fff;
}
#calendar-icon {
    -fx-shape: "M7.695 1.057a1.04 1.04 0 0 0-.567.459c-.103.176-.109.212-.121.831l-.014.646-1.266.016c-1.209.016-1.282.021-1.588.115A3.077 3.077 0 0 0 2.114 5.16l-.094.3v15.08l.094.3a3.111 3.111 0 0 0 2.026 2.045c.276.091.308.093 2.398.106 2.369.015 2.316.021 2.635-.267a.936.936 0 0 0 .315-.721c0-.388-.194-.705-.548-.897-.157-.084-.204-.086-2.2-.106l-2.04-.02-.184-.108a1.199 1.199 0 0 1-.291-.249C3.989 20.314 4 20.557 4 15.575V11l2.09-.002c1.641-.001 2.122-.013 2.24-.055.221-.079.414-.241.539-.454.095-.161.111-.233.111-.489 0-.254-.017-.328-.108-.484a1.209 1.209 0 0 0-.254-.295C8.334 9.004 8.283 9 6.054 9H4V7.447c0-1.797.007-1.848.303-2.144.281-.281.4-.303 1.641-.303h1.049l.014.653c.013.647.014.655.134.85a.998.998 0 0 0 1.718 0c.12-.195.121-.203.134-.85L9.007 5h5.986l.014.653c.013.647.014.655.134.85a.998.998 0 0 0 1.718 0c.12-.195.121-.203.134-.85L17.007 5h1.049c1.241 0 1.36.022 1.641.303.274.275.303.415.303 1.494.001.866.005.911.095 1.103.181.382.5.588.908.588a.936.936 0 0 0 .721-.315c.273-.303.286-.384.267-1.639-.016-1.023-.024-1.137-.108-1.394a3.095 3.095 0 0 0-2.022-2.016c-.306-.094-.379-.099-1.588-.115l-1.266-.016-.014-.646c-.012-.621-.017-.654-.122-.833a1.01 1.01 0 0 0-1.742 0c-.105.179-.11.212-.122.836l-.014.65H9.007l-.014-.65c-.012-.622-.018-.658-.121-.834a1.005 1.005 0 0 0-1.177-.459m7.845 7.966c-1.062.102-1.848.312-2.63.703-2.072 1.036-3.462 2.94-3.836 5.254-.066.413-.066 1.627 0 2.04.5 3.092 2.814 5.406 5.906 5.906.412.066 1.627.066 2.04 0 3.089-.498 5.408-2.817 5.906-5.906.028-.176.051-.635.051-1.02 0-.944-.101-1.538-.404-2.38-.858-2.383-2.992-4.147-5.471-4.522-.376-.057-1.289-.101-1.562-.075m1.012 2.02a5.008 5.008 0 0 1 4.128 3.205c.412 1.072.405 2.472-.017 3.545a5.076 5.076 0 0 1-3.063 2.939c-.556.19-.93.248-1.6.248s-1.044-.058-1.6-.248a5.041 5.041 0 0 1-3.239-3.492c-.241-.933-.178-2.115.159-2.992a4.997 4.997 0 0 1 5.232-3.205m-.857 2.014a1.04 1.04 0 0 0-.567.459l-.108.184v2.802l.102.199c.083.162.253.326.92.887.969.815 1.11.902 1.453.902a.972.972 0 0 0 .997-.99c-.003-.425-.094-.553-.829-1.166l-.643-.538-.02-1.048-.02-1.048-.108-.184a1.005 1.005 0 0 0-1.177-.459";
    -fx-background-color: #818181;
}
#add-icon {
    -fx-shape: "M11.28 1.02299L10.72 1.08299C8.83203 1.28299 6.99103 2.02299 5.36003 3.23499C4.75103 3.68799 3.68403 4.75499 3.22603 5.36699C0.728033 8.71399 0.301033 13.032 2.09703 16.78C2.64303 17.918 3.27603 18.801 4.23803 19.762C5.19903 20.724 6.08203 21.357 7.22003 21.903C10.967 23.699 15.288 23.27 18.637 20.77C19.246 20.316 20.316 19.246 20.77 18.637C23.744 14.652 23.744 9.34799 20.77 5.36299C20.316 4.75499 19.247 3.68599 18.64 3.23499C17.045 2.04899 15.365 1.35999 13.423 1.09599C13 1.03799 11.574 0.989989 11.28 1.02299ZM13.32 3.10099C15.883 3.48799 18.124 4.93099 19.56 7.11999C19.863 7.58299 20.303 8.47899 20.492 9.01999C20.838 10.013 20.977 10.865 20.977 12C20.977 13.493 20.72 14.621 20.08 15.94C19.375 17.394 18.311 18.607 16.927 19.532C16.138 20.06 14.876 20.588 13.908 20.797C12.5983 21.0767 11.2428 21.0622 9.9393 20.7548C8.6358 20.4473 7.41675 19.8545 6.37003 19.019C4.85703 17.807 3.72203 16.029 3.26703 14.16C3.08103 13.397 3.02303 12.888 3.02303 12C3.02303 10.507 3.28003 9.37899 3.92003 8.05999C4.44342 6.98382 5.17656 6.02307 6.0764 5.23416C6.97624 4.44526 8.02464 3.8441 9.16003 3.46599C9.86503 3.23299 10.432 3.11799 11.34 3.02399C11.662 2.99099 12.911 3.03899 13.32 3.10099ZM11.695 7.05699C11.4568 7.13651 11.2554 7.29955 11.128 7.51599L11.02 7.69999L11.008 9.34999L10.997 11H9.44503C7.75803 11 7.65803 11.011 7.38203 11.221C7.30203 11.282 7.18703 11.415 7.12803 11.516C7.03703 11.672 7.02003 11.746 7.02003 12C7.02003 12.256 7.03603 12.328 7.13103 12.489C7.19203 12.592 7.30403 12.725 7.38103 12.783C7.65403 12.991 7.70003 12.996 9.40803 12.998L10.997 13L11.008 14.653L11.02 16.306L11.141 16.503C11.209 16.613 11.346 16.756 11.452 16.828C11.923 17.144 12.554 16.999 12.859 16.503L12.98 16.306L12.992 14.653L13.003 13L14.592 12.998C16.3 12.996 16.346 12.991 16.619 12.783C16.696 12.725 16.808 12.592 16.869 12.489C16.964 12.328 16.98 12.256 16.98 12C16.98 11.746 16.963 11.672 16.872 11.516C16.8039 11.4046 16.7181 11.305 16.618 11.221C16.342 11.011 16.242 11 14.555 11H13.003L12.992 9.34999L12.98 7.69999L12.872 7.51599C12.7579 7.3164 12.5789 7.16196 12.3647 7.07843C12.1505 6.9949 11.9141 6.98733 11.695 7.05699Z";
    -fx-background-color: #fff;
}
#accept-icon {
    -fx-shape: "M23.5001 2.13135L22.3334 2.25635C18.4001 2.67302 14.5647 4.21468 11.1668 6.73968C9.89803 7.68343 7.67511 9.90635 6.72094 11.1813C1.51678 18.1543 0.627192 27.1501 4.36886 34.9584C5.50636 37.3293 6.82511 39.1688 8.82928 41.1709C10.8314 43.1751 12.6709 44.4938 15.0418 45.6313C22.848 49.373 31.8501 48.4793 38.8272 43.2709C40.0959 42.3251 42.3251 40.0959 43.2709 38.8272C49.4668 30.5251 49.4668 19.4751 43.2709 11.173C42.3251 9.90635 40.098 7.67927 38.8334 6.73968C35.5105 4.26885 32.0105 2.83343 27.9647 2.28343C27.0834 2.1626 24.1126 2.0626 23.5001 2.13135ZM27.7501 6.46052C33.0897 7.26677 37.7584 10.273 40.7501 14.8334C41.3814 15.798 42.298 17.6647 42.6918 18.7918C43.4126 20.8605 43.7022 22.6355 43.7022 25.0001C43.7022 28.1105 43.1668 30.4605 41.8334 33.2084C40.3647 36.2376 38.148 38.7647 35.2647 40.6918C33.6209 41.7918 30.9918 42.8918 28.9751 43.3272C26.2465 43.9098 23.4225 43.8798 20.7069 43.2392C17.9913 42.5987 15.4516 41.3636 13.2709 39.623C10.1189 37.098 7.75428 33.3938 6.80636 29.5001C6.41886 27.9105 6.29803 26.8501 6.29803 25.0001C6.29803 21.8897 6.83344 19.5397 8.16678 16.7918C9.25717 14.5497 10.7845 12.5482 12.6592 10.9046C14.5339 9.26108 16.718 8.00866 19.0834 7.22093C20.5522 6.73552 21.7334 6.49593 23.6251 6.3001C24.2959 6.23135 26.898 6.33135 27.7501 6.46052ZM30.5001 18.8918C30.1834 19.0022 29.5751 19.5709 26.523 22.6105L22.9209 26.198L21.3918 24.6897C20.0064 23.323 19.823 23.1709 19.4168 23.0501C18.8689 22.8876 18.6376 22.8834 18.1459 23.0313C17.6355 23.1878 17.2026 23.5307 16.9334 23.9918C16.7418 24.3168 16.7084 24.4688 16.7105 25.0001C16.7105 25.4438 16.7564 25.7105 16.8647 25.9168C17.0772 26.3188 21.4522 30.7084 21.9168 30.9855C22.2355 31.1751 22.3855 31.2084 22.9168 31.2063C23.3584 31.2063 23.6272 31.1605 23.8334 31.0522C24.2334 30.8438 32.7897 22.3022 33.0689 21.8334C33.2584 21.5168 33.2918 21.3626 33.2918 20.8334C33.2918 20.3043 33.2564 20.1501 33.0668 19.8251C32.818 19.3915 32.4239 19.0599 31.9541 18.8891C31.4843 18.7183 30.9693 18.7192 30.5001 18.8918Z";
    -fx-background-color: #3FCC33;
}
#refuse-icon {
    -fx-shape: "M23.5001 2.13135L22.3334 2.25635C18.4001 2.67302 14.5647 4.21468 11.1668 6.73968C9.89803 7.68343 7.67511 9.90635 6.72094 11.1813C1.51678 18.1543 0.627192 27.1501 4.36886 34.9584C5.50636 37.3293 6.82511 39.1688 8.82928 41.1709C10.8314 43.1751 12.6709 44.4938 15.0418 45.6313C22.848 49.373 31.8501 48.4793 38.8272 43.2709C40.0959 42.3251 42.3251 40.0959 43.2709 38.8272C49.4668 30.5251 49.4668 19.4751 43.2709 11.173C42.3251 9.90635 40.098 7.67927 38.8334 6.73968C35.5105 4.26885 32.0105 2.83343 27.9647 2.28343C27.0834 2.1626 24.1126 2.0626 23.5001 2.13135ZM27.7501 6.46052C33.0897 7.26677 37.7584 10.273 40.7501 14.8334C41.3814 15.798 42.298 17.6647 42.6918 18.7918C43.4126 20.8605 43.7022 22.6355 43.7022 25.0001C43.7022 28.1105 43.1668 30.4605 41.8334 33.2084C40.3647 36.2376 38.148 38.7647 35.2647 40.6918C33.6209 41.7918 30.9918 42.8918 28.9751 43.3272C26.2465 43.9098 23.4225 43.8798 20.7069 43.2392C17.9913 42.5987 15.4516 41.3636 13.2709 39.623C10.1189 37.098 7.75428 33.3938 6.80636 29.5001C6.41886 27.9105 6.29803 26.8501 6.29803 25.0001C6.29803 21.8897 6.83344 19.5397 8.16678 16.7918C9.25717 14.5497 10.7845 12.5482 12.6592 10.9046C14.5339 9.26108 16.718 8.00866 19.0834 7.22093C20.5522 6.73552 21.7334 6.49593 23.6251 6.3001C24.2959 6.23135 26.898 6.33135 27.7501 6.46052ZM18.0626 16.7938C17.6001 16.9626 17.1876 17.3105 16.9334 17.7418C16.7418 18.0668 16.7084 18.2188 16.7105 18.7501C16.7105 19.1938 16.7564 19.4605 16.8647 19.6668C16.9501 19.8272 18.148 21.0938 19.5293 22.4793L22.0376 25.0001L19.5293 27.5209C18.148 28.9084 16.9543 30.1688 16.8772 30.323C16.4001 31.2689 16.7834 32.5022 17.7251 33.0563C18.0689 33.2584 18.2126 33.2918 18.7501 33.2897C19.1939 33.2897 19.4605 33.2438 19.6668 33.1355C19.8272 33.0501 21.0939 31.8522 22.4793 30.4709L25.0001 27.9626L27.5209 30.4709C28.9084 31.8522 30.1689 33.0459 30.323 33.123C31.2689 33.6001 32.5022 33.2168 33.0564 32.2751C33.2584 31.9313 33.2918 31.7876 33.2897 31.2501C33.2897 30.8063 33.2439 30.5397 33.1355 30.3334C33.0501 30.173 31.8522 28.9084 30.4709 27.5209L27.9626 25.0001L30.4709 22.4793C31.8522 21.0938 33.0501 19.8272 33.1355 19.6668C33.2439 19.4605 33.2897 19.1938 33.2897 18.7501C33.2918 18.2188 33.2584 18.0668 33.0668 17.7418C32.8248 17.3105 32.4373 16.9794 31.9735 16.8076C31.5098 16.6359 31.0001 16.6347 30.5355 16.8043C30.1751 16.9251 29.8168 17.248 27.5626 19.4876L25.0001 22.0334L22.4376 19.4876C20.1834 17.248 19.8251 16.9251 19.4647 16.8043C19.0125 16.6394 18.5172 16.6357 18.0626 16.7938Z";
    -fx-background-color: #C62B2B;
}
#left-chevron-icon {
    -fx-shape: "M14.64 5.06782C14.485 5.12082 14.036 5.55282 11.347 8.23482C9.57002 10.0078 8.18802 11.4168 8.12702 11.5198C8.03602 11.6718 8.02002 11.7458 8.02002 11.9998C8.02002 12.2538 8.03602 12.3278 8.12702 12.4798C8.26302 12.7068 14.37 18.8068 14.555 18.8988C15.01 19.1278 15.601 18.9438 15.867 18.4918C15.964 18.3268 15.98 18.2578 15.979 17.9998C15.979 17.7878 15.957 17.6588 15.905 17.5598C15.865 17.4828 14.614 16.1998 13.126 14.7098L10.421 11.9998L13.126 9.28982C14.614 7.79982 15.865 6.51682 15.905 6.43982C15.957 6.34082 15.979 6.21182 15.979 5.99982C15.98 5.74482 15.964 5.67182 15.872 5.51582C15.7526 5.30769 15.5634 5.14854 15.3379 5.06654C15.1124 4.98454 14.8652 4.985 14.64 5.06782Z";
    -fx-background-color: #818181;
}

.header {
    -fx-font-size: 32;
    -fx-font-weight: bold;
}

.description {
    -fx-max-height: 2em;
}

.action-btn {
    -fx-background-color: #F7422B;
    -fx-background-radius: 10;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(123, 123, 123, 0.5), 4, 0, -2, 2);
}

.actor-pfp {
    -fx-background-radius: 5em;
    -fx-background-color: #D9D9D9;
    -fx-background-insets: 0px;
    -fx-padding: 0px;
    -fx-border-width: 1;
}

.due-date {
    -fx-border-color: #818181;
    -fx-border-radius: 5;
}

.due-date Label {
    -fx-text-fill: #818181;
}

.tasks-container {
    -fx-background-color: #e4e4e4;
    -fx-background-radius: 20;
}

.status {
    -fx-background-radius: 10;
    -fx-border-radius: 7;
    -fx-border-width: 3;
    -fx-padding: 5 10 5 10;
    -fx-font-weight: bold;
}

#in-revision {
    -fx-text-fill: #C64FE4;
    -fx-background-color: rgba(198, 79, 228, 0.25);
    -fx-border-color: #C64FE4;
}

#to-do {
    -fx-text-fill: #4f6ae4;
    -fx-background-color: rgba(79, 106, 228, 0.25);
    -fx-border-color: #4f6ae4;
}

#in-progress {
    -fx-text-fill: #e07232;
    -fx-background-color: rgba(224, 114, 50, 0.25);
    -fx-border-color: #e07232;
}

#completed {
    -fx-text-fill: #52b62e;
    -fx-background-color: rgba(82, 182, 46, 0.25);
    -fx-border-color: #52b62e;
}

#HIGH {
    -fx-text-fill: #e03232;
    -fx-background-color: rgba(224, 50, 50, 0.25);
    -fx-border-color: #e03232;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

#MEDIUM {
    -fx-text-fill: #e07232;
    -fx-background-color: rgba(224, 114, 50, 0.25);
    -fx-border-color: #e07232;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

#LOW {
    -fx-text-fill: #e0b432;
    -fx-background-color: rgba(224, 189, 50, 0.25);
    -fx-border-color: #e0b432;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.no-tasks{
    -no-tasks-color: #aeaeae;
    -fx-border-color: -no-tasks-color;
    -fx-border-style: dashed;
    -fx-border-width: 2;
    -fx-text-fill: -no-tasks-color;
    -fx-border-radius: 10;
}

.subheader {
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

.task-item {
    -fx-background-color: #fff;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(123, 123, 123, 0.5), 4, 0, 0, 2);
}

.item-title {
    -fx-font-weight: bold;
}

.item-due-date {
    -fx-text-fill: #818181;
}

.line {
    -fx-stroke: #bdbdbd;
}

.back-button {
    -fx-background-color: transparent;
    -fx-text-fill: #818181;
}

.back-button:hover {
    -fx-background-color: #E4E4E4;
}

ScrollPane {
    -fx-focus-color: transparent;
    -fx-border-width: 0;
}